In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("./tr_inmuebles.csv", delimiter="|", dtype={"ENT":object, "MUN":object, 
                                                             "LOC":object, "AGEB":object, "MZA":object,
                                                            "ENT_ADMON":object})

In [20]:
df

,ID_INM,ENT,MUN,LOC,AGEB,MZA,ENT_ADMON,P3,P4A,P4B,...,P136,P137,P138,P139,P140,P141,P142,P143,P144,P145
0,170,01,003,0024,0064,022,01,1,NaN,DOMICILIO CONOCIDO,...,2.0,2.0,2.0,2.0,1.0,3.0,2.0,2.0,2.0,1.0
1,171,01,003,0024,0064,005,01,1,DOMICILIO,CONOCIDO,...,1.0,2.0,1.0,2.0,1.0,3.0,3.0,3.0,1.0,2.0
2,172,01,003,0024,0064,006,01,1,CALLE,MAR DE ESMERALDA,...,2.0,2.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,1.0
3,173,01,003,0036,0030,022,01,1,CALLE,RIO LA LABOR,...,2.0,2.0,2.0,2.0,1.0,3.0,2.0,2.0,2.0,2.0
4,174,01,003,0036,0030,032,01,1,CARRETERA,AL TEMAZCAL,...,2.0,2.0,1.0,2.0,1.0,3.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149702,223665,15,105,0237,0193,800,15,1,CAMINO,A 20 METROS DE LA TIENDA,...,2.0,2.0,2.0,1.0,1.0,3.0,2.0,2.0,1.0,2.0
149703,223666,15,105,0255,0155,800,15,1,CAMINO,A UN COSTADO DE LA CANCHA DE FUTBOL,...,1.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,1.0,2.0
149704,223667,15,105,0255,0155,800,15,1,CARRETERA,JUNTO A LA ESCUELA PRIMARIA FEDERAL,...,1.0,1.0,1.0,1.0,1.0,3.0,3.0,2.0,1.0,2.0
149705,223668,15,105,0278,0193,800,15,1,CARRETERA,A DOSCIENTOS METROS ANTES DE LA DESVIACION A L...,...,1.0,1.0,1.0,1.0,1.0,3.0,3.0,2.0,1.0,1.0
149706,223669,15,105,0282,0193,800,15,1,CARRETERA,A UN LADO DEL JARDIN DE NIÑOS,...,1.0,2.0,1.0,1.0,1.0,3.0,2.0,2.0,1.0,2.0

In [21]:
df["admin_1_code"] = df.ENT
df["admin_2_code"] = df.admin_1_code + df.MUN
df["admin_3_code"] = df.admin_2_code + df.LOC
df["admin_4_code"] = df.admin_3_code + df.AGEB
df["admin_5_code"] = df.admin_4_code + df.MZA

In [25]:
filter_col = [col for col in df if col.startswith('admin')]
col_id = ["ID_INM", "P4A", "P4B"]
schools_manzanas = df[col_id+filter_col]

In [26]:
schools_manzanas[~schools_manzanas.admin_5_code.isnull()]

,ID_INM,P4A,P4B,admin_1_code,admin_2_code,admin_3_code,admin_4_code,admin_5_code
0,170,NaN,DOMICILIO CONOCIDO,01,01003,010030024,0100300240064,0100300240064022
1,171,DOMICILIO,CONOCIDO,01,01003,010030024,0100300240064,0100300240064005
2,172,CALLE,MAR DE ESMERALDA,01,01003,010030024,0100300240064,0100300240064006
3,173,CALLE,RIO LA LABOR,01,01003,010030036,0100300360030,0100300360030022
4,174,CARRETERA,AL TEMAZCAL,01,01003,010030036,0100300360030,0100300360030032
...,...,...,...,...,...,...,...,...
149702,223665,CAMINO,A 20 METROS DE LA TIENDA,15,15105,151050237,1510502370193,1510502370193800
149703,223666,CAMINO,A UN COSTADO DE LA CANCHA DE FUTBOL,15,15105,151050255,1510502550155,1510502550155800
149704,223667,CARRETERA,JUNTO A LA ESCUELA PRIMARIA FEDERAL,15,15105,151050255,1510502550155,1510502550155800
149705,223668,CARRETERA,A DOSCIENTOS METROS ANTES DE LA DESVIACION A L...,15,15105,151050278,1510502780193,1510502780193800
149706,223669,CARRETERA,A UN LADO DEL JARDIN DE NIÑOS,15,15105,151050282,1510502820193,1510502820193800

In [ ]:
schools_manzanas.to_csv("./schools_manzanas")